<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/base.css" />
		<style>			
			.info{
				
			}
			.info-left{
				flex:5;
			
			}
			.info-left img{
				width: 100%;
			}
			.info-right{
				flex: 2;
				text-align: center;
				
			}
			.tag{
				border:1px solid #ccc;
				padding-left: 10px;
				padding-right: 10px;
				text-align: center;
				border-radius: 100px;
				margin-right: 10px;
				font-size: 14px;
			}
		</style>
	</head>
	<body>
		<div class="info inlink-flex">
			<div class="info-left">
				<img src="carousel.jpg" alt="" />
			</div>
			<div class="info-right">
				<p>title</p>
				<p>info</p>
				<img src="img/collect_black.png" alt="" />
				<div class="inlink-flex">
					<div class="tag">任务</div>
					<div class="tag">生活</div>
				</div>
			</div>

		</div>
	</body>
</html>
