{% extends 'home/home.html' %}
{% block css %}
    <style>

     .login{
    		width: 300px;
		    height: auto;
		    padding: 20px;
		    margin-top: 150px;
		    border: 1px solid #DCDCDC;
		    border-radius: 5px;
		    background-color: #F5F5F5;
    	}
    </style>

{% endblock %}
{% block content %}
    <div class="container login">
    <form method="post">
        <fieldset>
            {% for msg in get_flashed_messages(category_filter=["err"]) %}
            <p class="login-box-msg" style="color: red">{{ msg }}</p>
            {% endfor %}
            {% for msg in get_flashed_messages(category_filter=["ok"]) %}
            <p class="login-box-msg" style="color: green">{{ msg }}</p>
            {% endfor %}
            <legend style="text-align: center">{{ form.name.label }}</legend>
            <div class="form-group">
                <label for="">用户名</label>
                    {{ form.name }}
            </div>
             {% for err in form.name.errors %}
                <div class="col-md-12"></div>
                <font style="color: red">{{ err }}</font>
             {% endfor %}
            <div class="form-group">
                <label for="password">{{ form.pwd.label }}</label>
                    {{ form.pwd }}
            </div>
              {% for err in form.pwd.errors %}
                <div class="col-md-12"></div>
                <font style="color: red">{{ err }}</font>
              {% endfor %}
                {{ form.csrf_token }}
                {{ form.submit }}
        </fieldset>
    </form>
</div>
{% endblock %}
