{% extends "home/home.html" %}
{% block css %}
<style>
body{
    margin-top:54px;
}
.headerUser{
            background: #0099e5;
            color:#fff!important;
            padding: 10px;
            box-shadow: 4px 6px 30px #0099e5;
            border-radius: 15px;
        }
.col-xs-3{
    padding:0!important;
}
</style>
{% endblock %}
{% block content %}
{% include "home/menu.html" %}
<div class="col-md-9  col-lg-9 col-sm-9 col-xs-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
            </div>
            <div class="panel-body">
                {% for msg in get_flashed_messages(category_filter=["err"]) %}
                    <p style="color: red">{{msg}}</p>
                {% endfor %}
                {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                    <p style="color: green">{{msg}}</p>
                {% endfor %}
                <form role="form" method="post">
                    <fieldset>
                            <div class="form-group">
                                <label for="input_oldpwd"><span class="glyphicon glyphicon-lock"></span>&nbsp;{{form.old_pwd.label}}</label>
                                {{form.old_pwd}}
                                {% for err in form.old_pwd.errors %}
                                        <div class="col-md-12">
                                            <font style="color: red">
                                                {{err}}
                                            </font>
                                        </div>
                                {% endfor%}
                            </div>
                            <div class="form-group">
                                <label for="input_newpwd"><span class="glyphicon glyphicon-lock"></span>&nbsp;{{form.new_pwd.label}}</label>
                                {{form.new_pwd}}
                                {% for err in form.new_pwd.errors %}
                                        <div class="col-md-12">
                                            <font style="color: red">
                                                {{err}}
                                            </font>
                                        </div>
                                {% endfor%}
                            </div>
                            {{form.csrf_token}}
                            {{form.submit}}
                        </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    $().ready(function(){
        $('#m-2').addClass("active")
    })
</script>
{% endblock %}